
.App {
  text-align: center;
  font-family: DM Sans;
  background-color: white;
}



.project-container{
  display:flex;
  justify-content:center;
  height:auto;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--cream);
}

.project-item{
  width:40%;
  height:350px;
  margin:10px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
  margin:30px;
}

@media only screen and (max-width: 1024px) {
  .project-item{
    width:80%;
    height:200px;
    margin:10px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
    margin:30px;
    // background-image: url(./images/guidedog.png);
    background-size: contain;
  }

  .navbar-item{
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    font-family: DM Sans;
    width:auto;
    color:#FFFFFF;
    font-size:medium;
    font-weight:550;
    font-weight:bold;
    margin-left:10px;
    margin-right:10px;
    z-index:2;
  }
}


:root {
  --cream: #F9F1F0;
  --rose: #FADCD9;
  --dusty_rose: #F8AFA6;
  --coral: #F79489;
  --tiger_lily: #B95C50;
  --pink_black: #3B0404;
}

@font-face {
  font-family: 'portfolio-font';
  src: local('portfolio-font'), url(./fonts/portfolio-font.woff2) format('woff2');
}

@font-face {
  font-family: 'Futura-bold';
  src: local('Futura-bold'), url(./fonts/Futura-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Cp2ywxg089UriASitCBimC3YU-Ck.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Pangram-Light';
  src: local('Pangram-Light'), url(./fonts/Pangram-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Pangram-Regular';
  src: local('Pangram-Regular'), url(./fonts/Pangram-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'roboto';
  src: local('roboto'), url(./fonts/roboto.woff2) format('woff2');
}



.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 50s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
    z-index: 0;
	}
}

.navbar-item{
  display: inline-block;
  justify-content: center;
  list-style-type: none;
  font-family: DM Sans;
  width:10%;
  color:var(--cream);
  font-size:medium;
  font-weight:550;
  font-weight:bold;
  z-index:2;
}

.navbar {
  background-color: var(--tiger_lily);
  width:100%;
  height:5%;
  z-index:2;
}

.title {
  font-family: Futura-bold;
  font-weight: 400;
  margin: 0px;
  z-index: 1;
}

.email {
  margin: 10px;
  z-index: 1;
  font-size:larger;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Social-logo {
  color: var(--coral);
  height: 48px;
  margin: 20px;
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

ul {
  padding: 0px;
  margin: 0px;
  width:100%;
  white-space:nowrap;
}

.navlist-wrapper{
  display: flex;
  width:100%;
  height:100%;
  justify-content: center;
  flex-direction: row;
  margin-top: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--pink_black);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
